@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";

:root {
    --white-color: #FFFFFF;
    --sugar-color: #D4D4D4;
    --light-gray-color: #DDE2E8;
    --gray-color: #A9C0C6;
    --light-blue-color: #23B6D8;
    --blue-color: #005F75;
    --dark-blue-color: #184C57;
    /* ====== custom-colors ====== */
    --mid-gray-color: rgba(128, 128, 128, 0.08);
    --dark-blue-opacity-color: rgba(24, 76, 87, 0.85);
}

body {
    overflow-x: hidden;
    background-color: var(--sugar-color);
    font-family: 'Montserrat', sans-serif;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: var(--sugar-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--dark-blue-color);
}

.common-p-inline {
    padding-inline: 4.5%;
}

.common-p-block {
    padding-inline: 50px;
}

.nav-btn-hover-top {
    top: 100%;
}